/* DSEG7 7SEG */

@font-face {
	font-family: 'DSEG7-7SEGG';
	src: url('../fonts/DSEG7-7SEGG-CHAN/DSEG7SEGGCHAN-Regular.woff2') format('woff2'),
	url('../fonts/DSEG7-7SEGG-CHAN/DSEG7SEGGCHAN-Regular.woff') format('woff'),
	url('../fonts/DSEG7-7SEGG-CHAN/DSEG7SEGGCHAN-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG7-7SEGG-MINI';
	src: url('../fonts/DSEG7-7SEGG-CHAN/DSEG7SEGGCHANMINI-Regular.woff2') format('woff2'),
	url('../fonts/DSEG7-7SEGG-CHAN/DSEG7SEGGCHANMINI-Regular.woff') format('woff'),
	url('../fonts/DSEG7-7SEGG-CHAN/DSEG7SEGGCHANMINI-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  /* DSEG7 Classic */
  
  @font-face {
	font-family: 'DSEG7-Classic';
	src: url('../fonts/DSEG7-Classic/DSEG7Classic-Bold.woff2') format('woff2'),
	url('../fonts/DSEG7-Classic/DSEG7Classic-Bold.woff') format('woff'),
	url('../fonts/DSEG7-Classic/DSEG7Classic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG7-Classic';
	src: url('../fonts/DSEG7-Classic/DSEG7Classic-BoldItalic.woff2') format('woff2'),
	url('../fonts/DSEG7-Classic/DSEG7Classic-BoldItalic.woff') format('woff'),
	url('../fonts/DSEG7-Classic/DSEG7Classic-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG7-Classic';
	src: url('../fonts/DSEG7-Classic/DSEG7Classic-Italic.woff2') format('woff2'),
	url('../fonts/DSEG7-Classic/DSEG7Classic-Italic.woff') format('woff'),
	url('../fonts/DSEG7-Classic/DSEG7Classic-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG7-Classic';
	src: url('../fonts/DSEG7-Classic/DSEG7Classic-Light.woff2') format('woff2'),
	url('../fonts/DSEG7-Classic/DSEG7Classic-Light.woff') format('woff'),
	url('../fonts/DSEG7-Classic/DSEG7Classic-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG7-Classic';
	src: url('../fonts/DSEG7-Classic/DSEG7Classic-LightItalic.woff2') format('woff2'),
	url('../fonts/DSEG7-Classic/DSEG7Classic-LightItalic.woff') format('woff'),
	url('../fonts/DSEG7-Classic/DSEG7Classic-LightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG7-Classic';
	src: url('../fonts/DSEG7-Classic/DSEG7Classic-Regular.woff2') format('woff2'),
	url('../fonts/DSEG7-Classic/DSEG7Classic-Regular.woff') format('woff'),
	url('../fonts/DSEG7-Classic/DSEG7Classic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  /* DSEG7 Classic MINI */
  
  @font-face {
	font-family: 'DSEG7-Classic-MINI';
	src: url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Bold.woff2') format('woff2'),
	url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Bold.woff') format('woff'),
	url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG7-Classic-MINI';
	src: url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-BoldItalic.woff2') format('woff2'),
	url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-BoldItalic.woff') format('woff'),
	url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG7-Classic-MINI';
	src: url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Italic.woff2') format('woff2'),
	url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Italic.woff') format('woff'),
	url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG7-Classic-MINI';
	src: url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Light.woff2') format('woff2'),
	url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Light.woff') format('woff'),
	url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG7-Classic-MINI';
	src: url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-LightItalic.woff2') format('woff2'),
	url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-LightItalic.woff') format('woff'),
	url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-LightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG7-Classic-MINI';
	src: url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.woff2') format('woff2'),
	url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.woff') format('woff'),
	url('../fonts/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  /* DSEG7 Modern */
  
  @font-face {
	font-family: 'DSEG7-Modern';
	src: url('../fonts/DSEG7-Modern/DSEG7Modern-Bold.woff2') format('woff2'),
	url('../fonts/DSEG7-Modern/DSEG7Modern-Bold.woff') format('woff'),
	url('../fonts/DSEG7-Modern/DSEG7Modern-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG7-Modern';
	src: url('../fonts/DSEG7-Modern/DSEG7Modern-BoldItalic.woff2') format('woff2'),
	url('../fonts/DSEG7-Modern/DSEG7Modern-BoldItalic.woff') format('woff'),
	url('../fonts/DSEG7-Modern/DSEG7Modern-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG7-Modern';
	src: url('../fonts/DSEG7-Modern/DSEG7Modern-Italic.woff2') format('woff2'),
	url('../fonts/DSEG7-Modern/DSEG7Modern-Italic.woff') format('woff'),
	url('../fonts/DSEG7-Modern/DSEG7Modern-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG7-Modern';
	src: url('../fonts/DSEG7-Modern/DSEG7Modern-Light.woff2') format('woff2'),
	url('../fonts/DSEG7-Modern/DSEG7Modern-Light.woff') format('woff'),
	url('../fonts/DSEG7-Modern/DSEG7Modern-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG7-Modern';
	src: url('../fonts/DSEG7-Modern/DSEG7Modern-LightItalic.woff2') format('woff2'),
	url('../fonts/DSEG7-Modern/DSEG7Modern-LightItalic.woff') format('woff'),
	url('../fonts/DSEG7-Modern/DSEG7Modern-LightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG7-Modern';
	src: url('../fonts/DSEG7-Modern/DSEG7Modern-Regular.woff2') format('woff2'),
	url('../fonts/DSEG7-Modern/DSEG7Modern-Regular.woff') format('woff'),
	url('../fonts/DSEG7-Modern/DSEG7Modern-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  /* DSEG7 Modern MINI */
  
  @font-face {
	font-family: 'DSEG7-Modern-MINI';
	src: url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-Bold.woff2') format('woff2'),
	url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-Bold.woff') format('woff'),
	url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG7-Modern-MINI';
	src: url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-BoldItalic.woff2') format('woff2'),
	url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-BoldItalic.woff') format('woff'),
	url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG7-Modern-MINI';
	src: url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-Italic.woff2') format('woff2'),
	url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-Italic.woff') format('woff'),
	url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG7-Modern-MINI';
	src: url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-Light.woff2') format('woff2'),
	url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-Light.woff') format('woff'),
	url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG7-Modern-MINI';
	src: url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-LightItalic.woff2') format('woff2'),
	url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-LightItalic.woff') format('woff'),
	url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-LightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG7-Modern-MINI';
	src: url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-Regular.woff2') format('woff2'),
	url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-Regular.woff') format('woff'),
	url('../fonts/DSEG7-Modern-MINI/DSEG7ModernMini-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  /* DSEG14 Classic */
  
  @font-face {
	font-family: 'DSEG14-Classic';
	src: url('../fonts/DSEG14-Classic/DSEG14Classic-Bold.woff2') format('woff2'),
	url('../fonts/DSEG14-Classic/DSEG14Classic-Bold.woff') format('woff'),
	url('../fonts/DSEG14-Classic/DSEG14Classic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG14-Classic';
	src: url('../fonts/DSEG14-Classic/DSEG14Classic-BoldItalic.woff2') format('woff2'),
	url('../fonts/DSEG14-Classic/DSEG14Classic-BoldItalic.woff') format('woff'),
	url('../fonts/DSEG14-Classic/DSEG14Classic-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG14-Classic';
	src: url('../fonts/DSEG14-Classic/DSEG14Classic-Italic.woff2') format('woff2'),
	url('../fonts/DSEG14-Classic/DSEG14Classic-Italic.woff') format('woff'),
	url('../fonts/DSEG14-Classic/DSEG14Classic-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG14-Classic';
	src: url('../fonts/DSEG14-Classic/DSEG14Classic-Light.woff2') format('woff2'),
	url('../fonts/DSEG14-Classic/DSEG14Classic-Light.woff') format('woff'),
	url('../fonts/DSEG14-Classic/DSEG14Classic-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG14-Classic';
	src: url('../fonts/DSEG14-Classic/DSEG14Classic-LightItalic.woff2') format('woff2'),
	url('../fonts/DSEG14-Classic/DSEG14Classic-LightItalic.woff') format('woff'),
	url('../fonts/DSEG14-Classic/DSEG14Classic-LightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG14-Classic';
	src: url('../fonts/DSEG14-Classic/DSEG14Classic-Regular.woff2') format('woff2'),
	url('../fonts/DSEG14-Classic/DSEG14Classic-Regular.woff') format('woff'),
	url('../fonts/DSEG14-Classic/DSEG14Classic-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  /* DSEG14 Classic MINI */
  
  @font-face {
	font-family: 'DSEG14-Classic-MINI';
	src: url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-Bold.woff2') format('woff2'),
	url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-Bold.woff') format('woff'),
	url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG14-Classic-MINI';
	src: url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-BoldItalic.woff2') format('woff2'),
	url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-BoldItalic.woff') format('woff'),
	url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG14-Classic-MINI';
	src: url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-Italic.woff2') format('woff2'),
	url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-Italic.woff') format('woff'),
	url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG14-Classic-MINI';
	src: url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-Light.woff2') format('woff2'),
	url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-Light.woff') format('woff'),
	url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG14-Classic-MINI';
	src: url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-LightItalic.woff2') format('woff2'),
	url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-LightItalic.woff') format('woff'),
	url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-LightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG14-Classic-MINI';
	src: url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-Regular.woff2') format('woff2'),
	url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-Regular.woff') format('woff'),
	url('../fonts/DSEG14-Classic-MINI/DSEG14ClassicMini-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  /* DSEG14 Modern */
  
  @font-face {
	font-family: 'DSEG14-Modern';
	src: url('../fonts/DSEG14-Modern/DSEG14Modern-Bold.woff2') format('woff2'),
	url('../fonts/DSEG14-Modern/DSEG14Modern-Bold.woff') format('woff'),
	url('../fonts/DSEG14-Modern/DSEG14Modern-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG14-Modern';
	src: url('../fonts/DSEG14-Modern/DSEG14Modern-BoldItalic.woff2') format('woff2'),
	url('../fonts/DSEG14-Modern/DSEG14Modern-BoldItalic.woff') format('woff'),
	url('../fonts/DSEG14-Modern/DSEG14Modern-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG14-Modern';
	src: url('../fonts/DSEG14-Modern/DSEG14Modern-Italic.woff2') format('woff2'),
	url('../fonts/DSEG14-Modern/DSEG14Modern-Italic.woff') format('woff'),
	url('../fonts/DSEG14-Modern/DSEG14Modern-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG14-Modern';
	src: url('../fonts/DSEG14-Modern/DSEG14Modern-Light.woff2') format('woff2'),
	url('../fonts/DSEG14-Modern/DSEG14Modern-Light.woff') format('woff'),
	url('../fonts/DSEG14-Modern/DSEG14Modern-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG14-Modern';
	src: url('../fonts/DSEG14-Modern/DSEG14Modern-LightItalic.woff2') format('woff2'),
	url('../fonts/DSEG14-Modern/DSEG14Modern-LightItalic.woff') format('woff'),
	url('../fonts/DSEG14-Modern/DSEG14Modern-LightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG14-Modern';
	src: url('../fonts/DSEG14-Modern/DSEG14Modern-Regular.woff2') format('woff2'),
	url('../fonts/DSEG14-Modern/DSEG14Modern-Regular.woff') format('woff'),
	url('../fonts/DSEG14-Modern/DSEG14Modern-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  /* DSEG14 Modern MINI */
  
  @font-face {
	font-family: 'DSEG14-Modern-MINI';
	src: url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-Bold.woff2') format('woff2'),
	url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-Bold.woff') format('woff'),
	url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG14-Modern-MINI';
	src: url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-BoldItalic.woff2') format('woff2'),
	url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-BoldItalic.woff') format('woff'),
	url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG14-Modern-MINI';
	src: url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-Italic.woff2') format('woff2'),
	url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-Italic.woff') format('woff'),
	url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG14-Modern-MINI';
	src: url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-Light.woff2') format('woff2'),
	url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-Light.woff') format('woff'),
	url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
  }
  
  @font-face {
	font-family: 'DSEG14-Modern-MINI';
	src: url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-LightItalic.woff2') format('woff2'),
	url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-LightItalic.woff') format('woff'),
	url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-LightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
  }
  
  @font-face {
	font-family: 'DSEG14-Modern-MINI';
	src: url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-Regular.woff2') format('woff2'),
	url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-Regular.woff') format('woff'),
	url('../fonts/DSEG14-Modern-MINI/DSEG14ModernMini-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  /* DSEGWeather */
  
  @font-face {
	font-family: 'DSEGWeather';
	src: url('../fonts/DSEGWeather/DSEGWeather.woff2') format('woff2'),
	url('../fonts/DSEGWeather/DSEGWeather.woff') format('woff'),
	url('../fonts/DSEGWeather/DSEGWeather.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  .output {
	  padding-right:33px;
	  /* border: 1px solid black; */
	  display: block;
	  /* width: 230px; */
	  /* height: 40px; */
	  /* background-color: red; */
	  /* position: absolute; */
	  /* top: 40px; */
	  left: 0;
	  right: 0;
	  margin-left: auto;
	  margin-right: auto;
	  border-radius: 2px;
	  background-image: radial-gradient(rgba(92, 93, 87, 0.75), transparent 70%), linear-gradient(#65675C, #727469, #6E746A);
	  background-size: 200px 200px, 100% 100%;
	  background-position: center center, 0 0;
	  background-repeat: repeat, no-repeat;
	  box-shadow: 0 0 2px 0 #2b262c, 0 0 1px 1px #221b23 inset, 0 0 3px #221b23 inset, 0 0 3px 0.5px #383838 inset, 0 0 5px #484848 inset, 9px 0 7px -4px #605a5c inset, 0 -2px 1px #7a7772 inset;
	}
.display {
	margin:auto;
	width: fit-content;
	background-color: #bcd3e0;
}
.value {
  font-family: 'DSEG7-Classic';
  font-style: italic;
  font-weight: bold;
  transform: scaleY(1.2);
  margin: 40px;
  display: inline-block;
  font-size: 110px;
}

#units {
	font-family: monospace;
	font-size: 50px;
	/* font-style: italic; */
}